.hero {

    &__image {
        background-image: url('/Images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
    }

    &__text {

    }
}